/* =========================
   GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* =========================
   HEADER
========================= */
header {
  background: #999;
  color: white;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 15px;
}

/* =========================
   HERO SECTION
========================= */
.hero {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  color: white;

  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("bgg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  width: 520px;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-content h3 {
  font-weight: normal;
  margin-bottom: 20px;
}

.hero-content p {
  line-height: 1.6;
  margin-bottom: 25px;
}

.hero-content button {
  padding: 12px 25px;
  border: none;
  background: #ffffff;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

/* =========================
   ABOUT SECTION
========================= */
.about {
   min-width: 1200px;
  display: flex;
  align-items: center;
  padding: 80px 60px;
  background: #f8f9fa;
}

.about-image img {
  width: 250px;
  border-radius: 10px;
}

.about-text {
  margin-left: 50px;
}

.about-text h2 {
  margin-bottom: 15px;
}

.about-text p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  display: inline-block;
}

/* =========================
   SKILLS SECTION
========================= */
.skills {
  text-align: center;
  padding: 60px;
}

.skill-box span {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
}

/* =========================
   FOOTER
========================= */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

/* =========================
   RESPONSIVE FIX
   (Laptop jaisa hi phone me)
========================= */
